node-red/flows/notifications.json
[
  {
    "id": "notifications-flow",
    "type": "tab",
    "label": "Notificaciones y reportes",
    "disabled": false,
    "info": "Flujo para correo, Teams, reportes programados y exportaciones. No escribe a campo, bombas, PLC ni equipos."
  },
  {
    "id": "alarm-http-in",
    "type": "http in",
    "z": "notifications-flow",
    "name": "Recibir alarma",
    "url": "/notify/alarm",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 120,
    "wires": [["alarm-json"]]
  },
  {
    "id": "alarm-json",
    "type": "json",
    "z": "notifications-flow",
    "name": "JSON alarma",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 120,
    "wires": [["format-alarm-notification"]]
  },
  {
    "id": "format-alarm-notification",
    "type": "function",
    "z": "notifications-flow",
    "name": "Preparar notificacion",
    "func": "const alarm = msg.payload || {};\nmsg.topic = `[${alarm.severity || 'info'}] Columna ${alarm.column_id || 'N/A'}`;\nmsg.payload = {\n    title: msg.topic,\n    text: alarm.message || 'Evento sin mensaje',\n    code: alarm.code || 'unknown',\n    source: alarm.source || 'platform',\n    at: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 120,
    "wires": [["alarm-debug", "alarm-response"]]
  },
  {
    "id": "alarm-debug",
    "type": "debug",
    "z": "notifications-flow",
    "name": "Salida notificacion",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 90,
    "wires": []
  },
  {
    "id": "alarm-response",
    "type": "http response",
    "z": "notifications-flow",
    "name": "Respuesta",
    "statusCode": "202",
    "headers": {},
    "x": 780,
    "y": 150,
    "wires": []
  },
  {
    "id": "daily-report-inject",
    "type": "inject",
    "z": "notifications-flow",
    "name": "Reporte diario 08:00",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "00 08 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 160,
    "y": 240,
    "wires": [["build-daily-report"]]
  },
  {
    "id": "build-daily-report",
    "type": "function",
    "z": "notifications-flow",
    "name": "Construir reporte",
    "func": "msg.payload = {\n    type: 'daily_report_request',\n    generated_at: new Date().toISOString(),\n    sections: ['produccion', 'alarmas', 'calidad_datos', 'comunicaciones'],\n    note: 'Reporte preparado por Node-RED. La generacion final se consulta desde la API de reportes.'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 240,
    "wires": [["report-debug"]]
  },
  {
    "id": "report-debug",
    "type": "debug",
    "z": "notifications-flow",
    "name": "Reporte preparado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 240,
    "wires": []
  },
  {
    "id": "integration-comment",
    "type": "comment",
    "z": "notifications-flow",
    "name": "Politica",
    "info": "Node-RED solo se usa para notificaciones, reportes e integraciones externas. La autoridad de control permanece en CODESYS y los comandos pasan por la API y el buzon OPC UA.",
    "x": 140,
    "y": 40,
    "wires": []
  }
]
